<body class="paper">
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            {{#if loggedIn}}
            <h3>Welcome {{userInfo.username}}! </h3>
            {{else}}
            <h3>Welcome Guest!</h3>
            {{/if}}
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <label for="collapsible1">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </label>
            <div class="collapsible-body">
                <ul class="inline">

                    {{#if loggedIn}}
                    <button id="logout" class="btn-no-style">Logout</button>
                    <a href="/userpage"><button>Profile</button></a>
                    {{else}}
                    <li><a href="/users/signup">Sign Up</a></li>
                    <li><a href="/users/login">Login</a></li>
                    {{/if}}

                    <li>
                        <label class="paper-btn" for="modal-about">About</label>
                        <input class="modal-state" id="modal-about" type="checkbox">
                        <div class="modal">
                            <label class="modal-bg" for="modal-about"></label>
                            <div class="modal-body">
                                <h4 class="modal-title">What is This?</h4>
                                <p class="modal-text">Music Quiz was a project created by Jordan
                                    Johnson, Sangmi Yun, David Kovalchuk, and a whole lot of guava.</p>
                                <label for="modal-about">Nice!</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="lobbyDiv">

        <div id="usersDiv" class="row flex-center">
            <h1>Users:
                <hr>
            </h1>

            <p id="myUser"> {{userInfo.username}}</p>
        </div>

        <div>
            <h4>Custom?</h4>
            <table class="table-hover">
                <thead>
                    <tr>
                        <th>Quiz ID</th>
                        <th>Name of Quiz</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each plainData.Quizzes}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{quiz_title}}</td>
                        <td><button alt="{{id}}" id="quiz{{@index}}" data-id="{{id}}"
                                class="btn-small btn-success-outline custom-quiz-button">Start This
                                Quiz</button> </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="startGame" class="row flex-center"><button>Start Random Game</button></div>


    </div>
    <div id="game" class="hidden">
        <section id="loadingBody">
            <div class="loadingText">
                <p class="resultQuiz">Generating your Quiz!</p>
            </div>


            <div class="loader">

                <div class="ele1"></div>
                <div class="ele1"></div>
                <div class="ele1"></div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
            <script>

                anime({
                    targets: '.loader .ele1',
                    loop: true,
                    scale: [
                        { value: '.1', duration: 1200, easing: 'easeOutSine' },
                        { value: '1', duration: 1200, easing: 'easeInQuad' },
                    ],
                    translateY: [
                        { value: '-45', duration: 1200, easing: 'easeOutSine' },
                        { value: '0', duration: 1200, easing: 'easeInQuad' },
                    ],
                    delay: anime.stagger(300)
                });

            </script>

        </section>
        <section class="gamefunction">
            <div class="topleft"><a href="/">
                    <p><span class="badge secondary">&lt;-</span> Take me Home!</p>
                </a>

            </div>
            <p id="timer"></p>
            <div class="row flex-center">
                <h1>Which Has More Views?</h1>
            </div>

            <div class="row flex-center">
                <div class="card" style="width: 20rem;" id="music-card-one">
                    <img id="musicOneImage">
                    <div class="card-body">
                        <h4 class="card-title" id="titleOne">Song Title Here</h4>
                        <div class="col-12 col">
                            <button class="btn-block" id="higherOne">HIGHER!</button>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 20rem;" id="music-card-two">
                    <img id="musicTwoImage" alt="Image of a YouTube video thumbnail.">
                    <div class="card-body">
                        <h4 class="card-title" id="titleTwo">Song Title Here</h4>
                        <div class="col-12 col">
                            <button class="btn-block" id="higherTwo">HIGHER!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-center">
                <p id="score"></p>
            </div>
        </section>

        <section class="gamedone">
            <div class="row flex-center">
                <h1>End of Quiz!</h1>
            </div>
            <h2 class="row flex-center"><span class="badge success" id="scoredisplay"></span></h2>

            <div class="row flex-center">
                <a href="/"><button class="btn-large btn-danger-outline">Home</button></a>
                <a href="/lobby"><button class="btn-large btn-success-outline">Play Again!</button></a>
            </div>
        </section>
    </div>

    <script src="/js/friendGame.js"></script>

</body>