<body class="paper">
  <nav class="border fixed split-nav">
    <div class="nav-brand">
      {{#if loggedIn}}
      <h3>Welcome {{userInfo.username}}! </h3>
      {{else}}
      <h3>Welcome Guest!</h3>
      {{/if}}
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">

          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          <a href="/userpage"><button>Profile</button></a>
          {{else}}
          <li><a href="/users/signup">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
          {{/if}}
                <label class="paper-btn"for="modal-about">About</label>
                <input class="modal-state" id="modal-about" type="checkbox">
                <div class="modal">
                <label class="modal-bg" for="modal-about"></label>
             <div class="modal-body">
             <h4 class="modal-title">What is This?</h4>
            <p class="modal-text">Music Quiz was a 1 week project made during a bootcamp course created by Jordan Johnson, Sangmi Yun, David Kovalchuk, and a whole lot of guava.</p>
          <label for="modal-about">Nice!</label>
             </div>
          </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  <div class="topleft"><a href="/"><p><span class="badge secondary">&lt;-</span> Take me back home!</p></a></div>

    <div class="row flex-center">
         <h1>{{userInfo.username}}</h1>
      </div>

      <div class="row flex-center">
      <img class="image-bottom" src="/assets/images/user.png"
      alt="Image of the user's face.">
    </div> 

    <div class="row flex-center">
      <h3 id="level">Level: {{userInfo.userlevel}}</h3>
      <div class="progress margin-bottom">
        <div class="bar muted w-90"></div>
      </div>
   </div>

   <div class="row flex-spaces tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">-Statistics-</label>
  
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">-Created Quizzes-</label>
    
    <div class="content" id="content1">
      <table>
        <tbody>
          <tr>
            <td>Total Correct Answers:</td>
            <td>{{plainData.Profile.userRight}}</td>
          </tr>
          <tr>
            <td>Total Wrong Answers:</td>
            <td>{{plainData.Profile.userWrong}}</td>
          </tr>
          <tr>
            <td>Games Played:</td>
            <td>{{plainData.Profile.totalGame}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="content" id="content2">
      <table class="table-hover">
        <thead>
          <tr>
            <th>Quiz ID</th>
            <th>Name of Quiz</th>
          </tr>
        </thead>
        <tbody>
          {{#each plainData.Quizzes}}
          <tr>
            <td>{{id}}</td>
            <td>{{quiz_title}}</td>
            <td><a href="/play-custom/{{id}}"><button class="btn-small btn-success-outline">Play</button></a><button class="btn-small btn-danger-outline" id="delete" data-id="{{id}}">Delete</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
  <script src="/js/deletequiz.js"></script>
</body>